html {
    position: relative;
    min-height: 100%;
}
body {
    min-height: 100%;
    margin-bottom: 60px; /* Margin bottom by footer height */
}

main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.welcome {
    min-height: 100%;
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

